body {
  background: #020617;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 90%;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #6366f1;
  color: white;
}

video {
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}
